@import '../../../styles.scss';

$bgColor: #0794ab;
$formBgColor: #f0f8ff;

.main-content {
    background-color: $bgColor;
    height: 100vh;

    .welcome-h {
        @include welcome-h();
    }

    .signup-form {
        @include formStyle($formBgColor);
    }
}